USE [MultiTray_Dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateProducts]    Script Date: 10/29/2025 12:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_CreateProducts]
    @ProductName NVARCHAR(50) = NULL,
    @ArticleNumber NVARCHAR(50) = NULL,
    @ClientArticle NVARCHAR(50) = NULL,
    @RawMaterialID UNIQUEIDENTIFIER = NULL,
    @ColorID UNIQUEIDENTIFIER = NULL,
    @ProductLength FLOAT = NULL,
    @Width FLOAT = NULL,
    @Height FLOAT = NULL,
    @Thickness FLOAT = NULL,
    @PiecesPerBox FLOAT = NULL,
    @NettWeight FLOAT = NULL,
    @BoxDimensions FLOAT = NULL,
    @NetBoxWeight FLOAT = NULL,
    @Description NVARCHAR(800) = NULL,
	@IsPotentialProduct BIT = NULL,
    @IsEnabled BIT = NULL,
    @IsDeleted BIT = NULL,
	@BoxDimensionsLength FLOAT = NULL,
	@BoxDimensionsWidth FLOAT = NULL,
	@BoxDimensionsHeight FLOAT = NULL,
	@NumberOfCavitiesPerTray INT = NULL,
	@ProductQuestionID UNIQUEIDENTIFIER = NULL,
    @PhotoID UNIQUEIDENTIFIER = NULL,
    @Photo VARBINARY(MAX) = NULL,
	@StackingHeight decimal(10,2) = NULL,
	@Density decimal(5,2) = NULL,
	@CreatedOn DATETIME = NULL,
    @CreatedBy UNIQUEIDENTIFIER,
	@UpdatedOn DATETIME = NULL,
    @UpdatedBy UNIQUEIDENTIFIER = NULL,


	--CustomerID from listing page to add product for specific customer.
	@CustomerID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;

	-- Default IsEnabled to 1 if not explicitly set
    IF @IsEnabled IS NULL SET @IsEnabled = 1;

    -- Generate a new uniqueidentifier for new Product
   -- DECLARE @UpdatedPhotoID UNIQUEIDENTIFIER = NULL;
    DECLARE @NewProductID UNIQUEIDENTIFIER = NEWID();
	 DECLARE @ExistingPhotoID UNIQUEIDENTIFIER;

	 -- Auto set CreatedOn and UpdatedOn if not set externally
    IF @CreatedOn IS NULL SET @CreatedOn = GETUTCDATE()
    IF @UpdatedOn IS NULL SET @UpdatedOn = GETUTCDATE()

	 -- Handle Photo Insertion or Update
    IF @Photo IS NOT NULL
    BEGIN
        -- Check if PhotoID is provided and exists
        IF @PhotoID IS NOT NULL
        BEGIN
            SELECT @ExistingPhotoID = PhotoID FROM Photos WHERE PhotoID = @PhotoID;
        END

        IF @ExistingPhotoID IS NULL
        BEGIN
            -- If no existing photo, insert new
            SET @PhotoID = NEWID();
            INSERT INTO Photos (PhotoID, Photo) VALUES (@PhotoID, @Photo);
        END
        ELSE
        BEGIN
            -- Update existing photo
            UPDATE Photos SET Photo = @Photo WHERE PhotoID = @ExistingPhotoID;
            SET @PhotoID = @ExistingPhotoID;
        END
    END


    -- Step 1 : Insert the new Product record
    INSERT INTO Products (ProductID, ProductName, ArticleNumber, ClientArticle, RawMaterialID, ColorID, ProductLength, Width, Height, 
                          Thickness, PiecesPerBox, NettWeight, BoxDimensions, NetBoxWeight, Description, IsPotentialProduct, IsEnabled, IsDeleted, 
                        BoxDimensionsLength,BoxDimensionsWidth,BoxDimensionsHeight, NumberOfCavitiesPerTray, ProductQuestionID, PhotoID, StackingHeight, Density, CustomerID, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy)
    VALUES (@NewProductID, @ProductName, @ArticleNumber, @ClientArticle, @RawMaterialID, @ColorID, @ProductLength, @Width, @Height, 
            @Thickness, @PiecesPerBox, @NettWeight, @BoxDimensions, @NetBoxWeight, @Description, @IsPotentialProduct,  @IsEnabled, @IsDeleted,
         @BoxDimensionsLength, @BoxDimensionsWidth, @BoxDimensionsHeight, @NumberOfCavitiesPerTray,@ProductQuestionID, @PhotoID , @StackingHeight, @Density, @CustomerID, @CreatedOn, @CreatedBy, @UpdatedOn, @UpdatedBy);


      -- Step 2: Insert into CustomerProducts mapping table
    INSERT INTO CustomerProducts (
       CustomerProductsID, ProductID, CustomerID
    )
    VALUES (
        NEWID(), @NewProductID, @CustomerID
    );
    -- Return the newly created uniqueidentifier of the Product
    --SELECT @NewProductID AS NewProductID;
	Select * from Products where ProductID = @NewProductID;
END;