USE [MultiTray_Dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateQuote]    Script Date: 10/29/2025 12:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_CreateQuote]
   -- @QuoteProductID UNIQUEIDENTIFIER = NULL,
    
   @CustomerRFQID UNIQUEIDENTIFIER ,-- = 'cfe50d2b-ce23-4498-9a94-d46afcbd38e6',
	@CustomerID UNIQUEIDENTIFIER,-- = 'da1690e1-7430-4e24-a137-ee3a624f4ec2',
	@CreatedBy UNIQUEIDENTIFIER ,--= '1fcf2e91-bf5f-4d08-9ab8-1cdf54397985',
    @UpdatedBy UNIQUEIDENTIFIER,-- = '1fcf2e91-bf5f-4d08-9ab8-1cdf54397985',
    @TransportationCost decimal(20, 3),-- = '200',
   -- @Packaging bigint = NULL,
	@MaterialCost decimal(20, 3),-- = '100',
	@AddMargin int , --= 3,
	@QuoteNumber  NVARCHAR(15), --= '6789',
	@AddressID UNIQUEIDENTIFIER ,--= '6219e7b1-1fa0-46ec-bc01-38287b0eb805',
	@Status NVARCHAR(50) = NULL,
	@ProductIDs NVARCHAR(MAX)-- =   

--'{"ProductID":"b65247c7-f08b-4169-9b3f-55abce1d92ec","Quantity":2,"YearlyQuantity":2,"price":0.00}'  -- Properly formatted JSON string
--Print @ProductIDs
-- @ProductID  UNIQUEIDENTIFIER
AS
BEGIN

    SET NOCOUNT ON;

	declare @count int
 
    -- Generate unique IDs internally

    DECLARE  @NewQuoteID UNIQUEIDENTIFIER = NEWID();

	DECLARE  @NewQuoteProductMappingID UNIQUEIDENTIFIER = NEWID();

 
 
    -- Step 1: Insert into Quotes table

    INSERT INTO Quotes (

        QuoteID, CustomerRFQID, CustomerID,

        CreatedOn, CreatedBy, UpdatedOn, UpdatedBy, TransportationCost,MaterialCost,AddMargin,QuoteNumber,AddressID,IsDeleted)

    VALUES (

        @NewQuoteID,@CustomerRFQID,@CustomerID, GETUTCDATE(),@CreatedBy, GETUTCDATE(), 

		@UpdatedBy,@TransportationCost,@MaterialCost,@AddMargin,@QuoteNumber,@AddressID,0

       );
 
-- Step 2: Insert into QuoteProductsMapping table
 
 
	   INSERT INTO QuoteProducts 

	  -- ( QuoteProductID, QuoteID, ProductID,[Quantity],[YearlyQuantity],[TotalCost])

	  (QuoteProductID,

    QuoteID,

    ProductID,

    Quantity,

    YearlyQuantity,

    ToolingCost,

    TypeOfPaymentID,

    AmortizePercentage,

    NoOfYears,

    VolumePerYear,

    AmortizationAmount,

    PricePer1000Pcs,

    FirstInstallment,

    FirstInstallmentDate,

    SecondInstallment,

    SecondInstallmentDate,

    TotalToolingCost,

    BoxCost,

    PiecesPerbox,

    NetBoxWt,

    CardboardLayerCost,

    OneBy8PalletCost,

    DoubleStackedCost,

    PlasticBigBagCost,

    TotalPackingCost,

    NumberOfWeeks,

    StorageCostPerWeek,

    TotalStorageCost,

    NumberOfRows,

    NumberOfMoulds,

    ToolIndex,

    FoilWidth,

    MaterialDensity,

    ThicknessOfMaterial,

    MaterialPrice,

    TotalRawMaterialCost,

    NumberOfTools,

    ProductionSpeed,

    Proficiency,

    ProductionHours,

    [Batches],

    MachineRate,

    ChangeTime,

    ProductionCost,

    TotalProductionCost,

    TotalCost,

    CreatedOn,

    CreatedBy,

    UpdatedOn,

    UpdatedBy,
	BalanceAmount,
	PalletCost,
	BaseValue
	
	)

	 -- 	select @NewQuoteProductMappingID,@NewQuoteID,ProductID from RFQProducts 

		--where CustomerRFQID='D7A2E80C-CE6D-48CD-9488-C31AF7FBC29D'

       SELECT 

  --      NEWID(), 

  --      @NewQuoteID, 

  --      JSON_VALUE(Product.value, '$.ProductID') AS ProductID,

		--JSON_VALUE(Product.value, '$.Quantity') AS Quantity,

		--JSON_VALUE(Product.value, '$.YearlyQuantity') AS YearlyQuantity,

		--JSON_VALUE(Product.value, '$.price') AS Price

	NEWID(), 

    @NewQuoteID, 

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.ProductID'),''), NULL) AS ProductID,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.Quantity'),''), NULL) AS Quantity,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.YearlyQuantity'),''), NULL) AS YearlyQuantity,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.ToolingCost'),''), NULL) AS ToolingCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.TypeOfPaymentID'),''), NULL) AS TypeOfPaymentID,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.AmortizePercentage'),''), NULL) AS AmortizePercentage,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.NoOfYears'),''), NULL) AS NoOfYears,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.VolumePerYear'),''), NULL) AS VolumePerYear,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.AmortizationAmount'),''), NULL) AS AmortizationAmount,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.Priceper1000pcs'),''), NULL) AS PricePer1000Pcs,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.FirstInstallment'),''), NULL) AS FirstInstallment,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.FirstInstallmentDate'),''), NULL) AS FirstInstallmentDate,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.SecondInstallment'),''), NULL) AS SecondInstallment,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.SecondInstallmentDate'),''), NULL) AS SecondInstallmentDate,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.TotalToolingCost'),''), NULL) AS TotalToolingCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.BoxCost'),''), NULL) AS BoxCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.PiecesPerBox'),''), NULL) AS PiecesPerbox,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.NetBoxWt'),''), NULL) AS NetBoxWt,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.CardboardLayerCost'),''), NULL) AS CardboardLayerCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.OneBy8PalletCost'),''), NULL) AS OneBy8PalletCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.DoubleStackedCost'),''), NULL) AS DoubleStackedCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.PlasticBigBagForBigBoxCost'),''), NULL) AS PlasticBigBagCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.TotalPackingCost'),''), NULL) AS TotalPackingCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.NumberOfWeeks'),''), NULL) AS NumberOfWeeks,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.StorageCostPerWeek'),''), NULL) AS StorageCostPerWeek,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.TotalStorageCost'),''), NULL) AS TotalStorageCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.NumberOfRows'),''), NULL) AS NumberOfRows,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.NumberOfMoulds'),''), NULL) AS NumberOfMoulds,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.ToolIndex'),''), NULL) AS ToolIndex,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.FoilWidth'),''), NULL) AS FoilWidth,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.MaterialDensity'),''), NULL) AS MaterialDensity,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.ThicknessOfMaterial'),''), NULL) AS ThicknessOfMaterial,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.MaterialPrice'),''), NULL) AS MaterialPrice,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.TotalRawMaterialCost'),''), NULL) AS TotalRawMaterialCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.NumberOfTools'),''), NULL) AS NumberOfTools,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.ProductionSpeed'),''), NULL) AS ProductionSpeed,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.Proficiency'),''), NULL) AS Proficiency,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.ProductionHours'),''), NULL) AS ProductionHours,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.Batches'),''), NULL) AS Batches,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.MachineRate'),''), NULL) AS MachineRate,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.ChangeTime'),''), NULL) AS ChangeTime,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.ProductionCost'),''), NULL) AS ProductionCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.TotalProductionCost'),''), NULL) AS TotalProductionCost,

    COALESCE(NULLIF(JSON_VALUE(Product.value, '$.TotalCost'),''), NULL) AS TotalCost,
	--COALESCE(NULLIF(JSON_VALUE(Product.value, '$.TotalCost'),''), NULL)  * (@AddMargin / 100.0) AS TotalCost,
	---COALESCE(NULLIF(JSON_VALUE(Product.value, '$.TotalCost'),''), NULL) * (1 + (@AddMargin / 100.0)) AS TotalCost,

    GETUTCDATE() AS CreatedOn,

    @CreatedBy AS CreatedBy,

    GETUTCDATE() AS UpdatedOn,

    @UpdatedBy AS UpdatedBy,

   COALESCE(NULLIF(JSON_VALUE(Product.value, '$.BalanceAmount'),''), NULL) AS BalanceAmount,
   COALESCE(NULLIF(JSON_VALUE(Product.value, '$.PalletCost'),''), NULL) AS PalletCost,
   COALESCE(NULLIF(JSON_VALUE(Product.value, '$.BaseValue'),''), NULL) AS BaseValue

       FROM OPENJSON(@ProductIDs) AS Product;


	 

 
 
--select * from QuoteProductsMapping
 
 
-- Step 3: Check if products exist in QuoteProducts and update their QuoteID

  --  SELECT @Count = COUNT(*) 

  --  FROM QuoteProducts QP

  --  INNER JOIN QuoteProductsMapping QM ON QM.ProductID = QP.ProductID;

  --  IF @Count > 0

  --  BEGIN

  --          UPDATE QP

  --      SET QP.QuoteID = @NewQuoteID,

		--QP.TotalCost = JSON_VALUE(Product.value, '$.price')

  --      FROM QuoteProducts QP

  --      INNER JOIN QuoteProductsMapping QM ON QM.ProductID = QP.ProductID

		--INNER JOIN Quotes q  ON QM.QuoteID = QM.QuoteID AND QP.AddressID=Q.AddressID

		--CROSS APPLY OPENJSON(@ProductIDs) AS Product

		--where QP.AddressID=@AddressID

		--AND QM.ProductID IN (SELECT JSON_VALUE(Product.value, '$.ProductID') 

  --                            FROM OPENJSON(@ProductIDs) AS Product);

  --  END;
 
	

    -- SELECT @@ROWCOUNT AS RowsAffected;
 
 
select  @NewQuoteID As QuoteID
 
SET NOCOUNT OFF;

END;


