USE [MultiTray_Dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateCustomers]    Script Date: 10/29/2025 12:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_CreateCustomers]
    @CustomerName NVARCHAR(100) = NULL,
    @CustomerTypeID UNIQUEIDENTIFIER = NULL,
    @Address NVARCHAR(250) = NULL,
    @City NVARCHAR(100) = NULL,
    @State NVARCHAR(100) = NULL,
    @PostCode NVARCHAR(10) = NULL,
	@PaymentTerm NVARCHAR(10) = NULL,
    @CountryID UNIQUEIDENTIFIER = NULL,
    @IsActive BIT,
    @IsEnabled BIT,
    @IsDeleted BIT,
    @CreatedOn DATETIME = NULL,
    @CreatedBy UNIQUEIDENTIFIER = NULL,
    @UpdatedOn DATETIME = NULL,
    @UpdatedBy UNIQUEIDENTIFIER = NULL,
    @PointOfContacts NVARCHAR(MAX) = NULL -- JSON data for multiple contacts
AS
BEGIN
    SET NOCOUNT ON;

    -- Generate unique IDs internally
    DECLARE @NewCustomerID UNIQUEIDENTIFIER = NEWID();
	DECLARE @NewPointOfContactID UNIQUEIDENTIFIER = NEWID();
	DECLARE @PointOfContactType NVARCHAR(50) = NULL;

    -- Auto set CreatedOn and UpdatedOn if not set externally
    IF @CreatedOn IS NULL SET @CreatedOn = GETDATE();
    IF @UpdatedOn IS NULL SET @UpdatedOn = GETDATE();

    -- Step 1: Insert into Customers table
    INSERT INTO Customers (
        CustomerID,
        CustomerName, CustomerTypeID, Address, City, State, PostCode, PaymentTerm, CountryID,
        IsActive, IsEnabled, IsDeleted,
        CreatedOn, CreatedBy, UpdatedOn, UpdatedBy
    )
    VALUES (
        @NewCustomerID,
        @CustomerName, @CustomerTypeID,
        @Address, @City, @State, @PostCode, @PaymentTerm, @CountryID,
        @IsActive, @IsEnabled, @IsDeleted,
        @CreatedOn, @CreatedBy, @UpdatedOn, @UpdatedBy
    );

    -- Step 2: Handle PointOfContacts JSON and insert directly into PointOfContacts table
    IF @PointOfContacts IS NOT NULL
    BEGIN
        -- Insert directly into PointOfContacts from JSON
        INSERT INTO PointOfContacts (PointOfContactID, PointOfContactType, Name, CountryID, MobileNumber, EmailID, CountryCode)
        SELECT
            @NewPointOfContactID, -- Generate a unique PointOfContactID
			Contact.PointOfContactType,
	        Contact.Name,
            Contact.CountryID,
            Contact.MobileNumber,
            Contact.EmailID,
			Contact.CountryCode
			
        FROM OPENJSON(@PointOfContacts)
        WITH (
		    PointOfContactType NVARCHAR(50),
            Name NVARCHAR(50),
            CountryID UNIQUEIDENTIFIER,
            MobileNumber NVARCHAR(20),
            EmailID NVARCHAR(120),
			CountryCode NVARCHAR(5)
        ) AS Contact;
    END

	  -- Step 3: Insert into CustomerPointOfContacts table
    INSERT INTO CustomerPointOfContacts (
        CustomerPOCID, CustomerID, PointOfContactID, PointOfContactType
    )
    VALUES (
        NEWID(), @NewCustomerID, @NewPointOfContactID, @PointOfContactType
    );

	select * from Customers where CustomerID = @NewCustomerID;
END;
