USE [MultiTray_Dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateOrUpdateTransportAndPackingRecords]    Script Date: 10/29/2025 12:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_CreateOrUpdateTransportAndPackingRecords]
    @CustomerID UNIQUEIDENTIFIER = NULL,
    @TransportID UNIQUEIDENTIFIER = NULL,
    @AddressIDs NVARCHAR(MAX), 
    @IncotermID UNIQUEIDENTIFIER = NULL, 
    @TypeOfPalletID UNIQUEIDENTIFIER = NULL,
    @PricingTypeID UNIQUEIDENTIFIER = NULL,
    @Price FLOAT = NULL,
    @NoOfPallets INT = NULL,
    @MaxPalletHeight DECIMAL(10,2) = NULL,
    @CreatedOn DATETIME = NULL,
    @CreatedBy UNIQUEIDENTIFIER = NULL,
    @UpdatedOn DATETIME = NULL,
    @UpdatedBy UNIQUEIDENTIFIER = NULL,
    @FirstLoadingTime TIME = NULL,
    @LastLoadingTime TIME = NULL,
    @TransportationCostData NVARCHAR(MAX), -- JSON array of objects

    -- Packing table fields
    @PackingID UNIQUEIDENTIFIER = NULL,
    @SelectedPackingTypeIDs NVARCHAR(MAX) = NULL,
    @TypeOfPackingID UNIQUEIDENTIFIER = NULL,
    @NoOfBoxesPerPallet INT = NULL,
    @NoOfPiecesPerRow INT = NULL,
    @NoOfRowOnTop INT = NULL,
    @IsCardboardLayerPad BIT = NULL,
    @IsPlasticBagForBigBox BIT = NULL,
    @Is1By8PalletBag BIT = NULL,
    @IsDoubleStacked BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Declare Table variables for addresses, packing types, and transportation costs
    DECLARE @AddressTable TABLE (AddressID UNIQUEIDENTIFIER);
    DECLARE @CustomerAddressTable TABLE (CustomerAddressID UNIQUEIDENTIFIER, AddressID UNIQUEIDENTIFIER);
    DECLARE @TransportationCostTable TABLE (AddressID UNIQUEIDENTIFIER, TransportationCost DECIMAL(15,2));
    DECLARE @PackingTypeTable TABLE (PackingTypeID UNIQUEIDENTIFIER);
    DECLARE @PackingTable TABLE (PackingID UNIQUEIDENTIFIER, CustomerAddressID UNIQUEIDENTIFIER);
    DECLARE @ExistingPackingTypes TABLE (PackingID UNIQUEIDENTIFIER, PackingTypeID UNIQUEIDENTIFIER);

    -- Split the comma-separated AddressIDs and insert into @AddressTable
    INSERT INTO @AddressTable (AddressID)
    SELECT value FROM STRING_SPLIT(@AddressIDs, ',');

    -- Fetch the respective CustomerAddressID for each AddressID
    INSERT INTO @CustomerAddressTable (CustomerAddressID, AddressID)
    SELECT CA.CustomerAddressID, CA.AddressID
    FROM CustomerAddresses CA
    INNER JOIN @AddressTable A ON CA.AddressID = A.AddressID;

    -- Parse JSON transportation cost
    INSERT INTO @TransportationCostTable (AddressID, TransportationCost)
    SELECT AddressID, TransportationCost
    FROM OPENJSON(@TransportationCostData)
    WITH (
        AddressID UNIQUEIDENTIFIER '$.AddressID',
        TransportationCost DECIMAL(15,2) '$.TransportationCost'
    );

    -- Update existing records in Transport table
    UPDATE T
    SET 
        T.IncotermID = @IncotermID, 
        T.PricingTypeID = @PricingTypeID, 
        T.Price = @Price,
        T.NoOfPallets = @NoOfPallets, 
        T.TypeOfPalletID = @TypeOfPalletID,
        T.MaxPalletHeight = @MaxPalletHeight, 
        T.UpdatedOn = @UpdatedOn, 
        T.UpdatedBy = @UpdatedBy,
        T.FirstLoadingTime = @FirstLoadingTime,
        T.LastLoadingTime = @LastLoadingTime,
        T.TransportationCost = TC.TransportationCost
    FROM Transport T
    INNER JOIN @CustomerAddressTable CAT ON T.CustomerAddressID = CAT.CustomerAddressID
    LEFT JOIN @TransportationCostTable TC ON CAT.AddressID = TC.AddressID;

    -- Insert new records into Transport table for non-existing CustomerAddressIDs
    INSERT INTO Transport (TransportID, CustomerAddressID, IncotermID, PricingTypeID, Price, NoOfPallets, TypeOfPalletID, MaxPalletHeight, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy, TransportationCost, FirstLoadingTime, LastLoadingTime)
    SELECT NEWID(), CAT.CustomerAddressID, @IncotermID, @PricingTypeID, @Price, @NoOfPallets, @TypeOfPalletID, @MaxPalletHeight, @CreatedOn, @CreatedBy, @UpdatedOn, @UpdatedBy, TC.TransportationCost, @FirstLoadingTime, @LastLoadingTime
    FROM @CustomerAddressTable CAT
    LEFT JOIN @TransportationCostTable TC ON CAT.AddressID = TC.AddressID
    WHERE NOT EXISTS (
        SELECT 1 FROM Transport T WHERE T.CustomerAddressID = CAT.CustomerAddressID
    );

    -- Update existing records in Packing table
    UPDATE P
    SET 
        P.TypeOfPackingID = @TypeOfPackingID,
        P.NoOfBoxesPerPallet = @NoOfBoxesPerPallet, 
        P.NoOfPiecesPerRow = @NoOfPiecesPerRow, 
        P.NoOfRowOnTop = @NoOfRowOnTop,
        P.IsCardboardLayerPad = @IsCardboardLayerPad, 
        P.IsPlasticBagForBigBox = @IsPlasticBagForBigBox,
        P.Is1By8PalletBag = @Is1By8PalletBag, 
        P.IsDoubleStacked = @IsDoubleStacked,
        P.UpdatedOn = @UpdatedOn, 
        P.UpdatedBy = @UpdatedBy
    FROM Packing P
    INNER JOIN @CustomerAddressTable CAT ON P.CustomerAddressID = CAT.CustomerAddressID;

     -- Insert new records into Packing table for non-existing CustomerAddressIDs
    INSERT INTO Packing (PackingID, CustomerAddressID, TypeOfPackingID, NoOfBoxesPerPallet, NoOfPiecesPerRow, NoOfRowOnTop, IsCardboardLayerPad, IsPlasticBagForBigBox, Is1By8PalletBag, IsDoubleStacked, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy)
    SELECT NEWID(), CAT.CustomerAddressID, @TypeOfPackingID, @NoOfBoxesPerPallet, @NoOfPiecesPerRow, @NoOfRowOnTop, @IsCardboardLayerPad, @IsPlasticBagForBigBox, @Is1By8PalletBag, @IsDoubleStacked, @CreatedOn, @CreatedBy, @UpdatedOn, @UpdatedBy
    FROM @CustomerAddressTable CAT
    WHERE NOT EXISTS (
        SELECT 1 FROM Packing P WHERE P.CustomerAddressID = CAT.CustomerAddressID
    );

    -- Insert existing PackingIDs into @PackingTable
    INSERT INTO @PackingTable (PackingID, CustomerAddressID)
    SELECT P.PackingID, P.CustomerAddressID
    FROM Packing P
    INNER JOIN @CustomerAddressTable CAT ON P.CustomerAddressID = CAT.CustomerAddressID;

   -- Fetch current packing types for each PackingID
    INSERT INTO @ExistingPackingTypes (PackingID, PackingTypeID)
    SELECT PPT.PackingID, PPT.PackingTypeID
    FROM PackingPackingTypes PPT
    WHERE PPT.PackingID IN (SELECT PackingID FROM @PackingTable);

   -- Handle the update and insertion of packing types
    IF @SelectedPackingTypeIDs IS NULL OR LTRIM(RTRIM(@SelectedPackingTypeIDs)) = ''
    BEGIN
        -- Delete all packing types if nothing is selected
        DELETE FROM PackingPackingTypes
        WHERE PackingID IN (SELECT PackingID FROM @PackingTable);
    END
    ELSE
    BEGIN
        -- Parse selected types
        INSERT INTO @PackingTypeTable (PackingTypeID)
        SELECT value FROM STRING_SPLIT(@SelectedPackingTypeIDs, ',');

        -- Remove unselected types
        DELETE FROM PackingPackingTypes
        WHERE PackingID IN (SELECT PackingID FROM @PackingTable)
        AND PackingTypeID NOT IN (SELECT PackingTypeID FROM @PackingTypeTable);

        -- Insert new types
        INSERT INTO PackingPackingTypes (PackingPackingTypeID, PackingID, PackingTypeID)
        SELECT NEWID(), PT.PackingID, PTT.PackingTypeID
        FROM @PackingTable PT
        CROSS JOIN @PackingTypeTable PTT
        WHERE NOT EXISTS (
            SELECT 1 FROM PackingPackingTypes PPT
            WHERE PPT.PackingID = PT.PackingID AND PPT.PackingTypeID = PTT.PackingTypeID
        );
    END

    -- Final result
    SELECT 
        T.TransportID, 
        T.CustomerAddressID, 
        CA.CustomerID, 
        CA.AddressID, 
        T.IncotermID, 
        T.PricingTypeID, 
        T.Price, 
        T.NoOfPallets, 
        T.TypeOfPalletID, 
        T.MaxPalletHeight, 
        T.TransportationCost,
        T.FirstLoadingTime,
        T.LastLoadingTime,
        P.PackingID, 
        P.TypeOfPackingID, 
        P.NoOfBoxesPerPallet, 
        P.NoOfPiecesPerRow, 
        P.NoOfRowOnTop, 
        P.IsCardboardLayerPad, 
        P.IsPlasticBagForBigBox, 
        P.Is1By8PalletBag, 
        P.IsDoubleStacked
    FROM Transport T
    FULL JOIN Packing P ON T.CustomerAddressID = P.CustomerAddressID
    JOIN CustomerAddresses CA ON T.CustomerAddressID = CA.CustomerAddressID OR P.CustomerAddressID = CA.CustomerAddressID
    WHERE CA.CustomerID = @CustomerID
    ORDER BY T.UpdatedOn DESC, P.UpdatedOn DESC;

    SET NOCOUNT OFF;
END;
