USE [MultiTray_Dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_UpdateAddressBookCustomerAddress]    Script Date: 10/29/2025 12:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Insert_UpdateAddressBookCustomerAddress]
    @json NVARCHAR(MAX),
    @CustomerID NVARCHAR(50),
    @UserID NVARCHAR(250),
    @ExistingAddressID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Temporary table for JSON data
    CREATE TABLE #TempAddresses (
        AddressID UNIQUEIDENTIFIER NULL,
        AddressHeading NVARCHAR(50),
        Address NVARCHAR(250),
        City NVARCHAR(50),
        --State NVARCHAR(50),
        --CountryID NVARCHAR(250),
		CountryID UNIQUEIDENTIFIER NULL,
        PostCode NVARCHAR(50),
        POCName NVARCHAR(50),
        POCEmail NVARCHAR(120),
        --POCCountryID NVARCHAR(250),
		-- POCCountryID UNIQUEIDENTIFIER NULL,
        POCMobile NVARCHAR(120),
		CountryCode NVARCHAR(5),
    );

    -- Parse JSON
    INSERT INTO #TempAddresses
    SELECT AddressID, AddressHeading, Address, City, 
	--State, 
	CountryID, PostCode, 
           POCName, POCEmail, 
		   --POCCountryID, 
		   POCMobile, CountryCode
    FROM OPENJSON(@json)
    WITH (
        AddressID UNIQUEIDENTIFIER '$.AddressID',
        AddressHeading NVARCHAR(50),
        Address NVARCHAR(250),
        City NVARCHAR(50),
        --State NVARCHAR(50),
        --CountryID NVARCHAR(250),
		CountryID UNIQUEIDENTIFIER,
        PostCode NVARCHAR(50),
        POCName NVARCHAR(50),
        POCEmail NVARCHAR(120),
        --POCCountryID NVARCHAR(250),
		--POCCountryID UNIQUEIDENTIFIER,
        POCMobile NVARCHAR(120),
		CountryCode NVARCHAr(5)
    );

    -- Update existing addresses
    UPDATE AB
    SET 
        AB.AddressHeading = TA.AddressHeading,
        AB.Address = TA.Address,
        AB.City = TA.City,
        --AB.State = TA.State,
        AB.CountryID = TA.CountryID,
        AB.PostCode = TA.PostCode,
        AB.POCName = TA.POCName,
        AB.POCEmail = TA.POCEmail,
        --AB.POCCountryID = TA.POCCountryID,
        AB.POCMobile = TA.POCMobile,
        AB.UpdatedOn = GETUTCDATE(),
        AB.UpdatedBy = @UserID,
		AB.CountryCode = TA.CountryCode
    FROM AddressBook AB
    INNER JOIN #TempAddresses TA ON AB.AddressID = TA.AddressID
    WHERE 
        (AB.AddressHeading <> TA.AddressHeading OR
         AB.Address <> TA.Address OR
         AB.City <> TA.City OR
         --AB.State <> TA.State OR
         AB.CountryID <> TA.CountryID OR
         AB.PostCode <> TA.PostCode OR
         AB.POCName <> TA.POCName OR
         AB.POCEmail <> TA.POCEmail OR
         --AB.POCCountryID <> TA.POCCountryID OR
         AB.POCMobile <> TA.POCMobile OR
		 AB.CountryCode <> TA.CountryCode);

    -- Insert new addresses
    INSERT INTO AddressBook (
        AddressID, AddressHeading, Address, City, 
		--State, 
		CountryID, PostCode,
        POCName, POCEmail, 
		--POCCountryID, 
		POCMobile, CountryCode, CreatedOn, CreatedBy, UpdatedOn, UpdatedBy
    )
    SELECT 
        ISNULL(TA.AddressID, NEWID()), TA.AddressHeading, TA.Address, TA.City, 
		--TA.State, 
        TA.CountryID, TA.PostCode, TA.POCName, TA.POCEmail, 
		--TA.POCCountryID,
		TA.POCMobile, TA.CountryCode,
        GETUTCDATE(), @UserID, GETUTCDATE(), @UserID
    FROM #TempAddresses TA
    LEFT JOIN AddressBook AB ON 
        AB.AddressHeading = TA.AddressHeading AND
        AB.Address = TA.Address AND
        AB.City = TA.City AND
        --AB.State = TA.State AND
        AB.CountryID = TA.CountryID AND
        AB.PostCode = TA.PostCode AND
        AB.POCName = TA.POCName AND
        AB.POCEmail = TA.POCEmail AND
        --AB.POCCountryID = TA.POCCountryID AND
        AB.POCMobile = TA.POCMobile AND
		AB.CountryCode = TA.CountryCode 
    WHERE AB.AddressID IS NULL;

    -- Map Customer to Addresses
    INSERT INTO CustomerAddresses (CustomerAddressID, CustomerID, AddressID)
    SELECT DISTINCT NEWID(), @CustomerID, ISNULL(TA.AddressID, AB.AddressID)
    FROM #TempAddresses TA
    LEFT JOIN AddressBook AB ON 
        AB.AddressHeading = TA.AddressHeading AND
        AB.Address = TA.Address AND
        AB.City = TA.City AND
        --AB.State = TA.State AND
        AB.CountryID = TA.CountryID AND
        AB.PostCode = TA.PostCode AND
        AB.POCName = TA.POCName AND
        AB.POCEmail = TA.POCEmail AND
        --AB.POCCountryID = TA.POCCountryID AND
        AB.POCMobile = TA.POCMobile AND
		AB.CountryCode = TA.CountryCode
    WHERE NOT EXISTS (
        SELECT 1
        FROM CustomerAddresses CA
        WHERE CA.CustomerID = @CustomerID AND CA.AddressID = ISNULL(TA.AddressID, AB.AddressID)
    );

    SELECT AB.*
    FROM AddressBook AB
    INNER JOIN #TempAddresses TA ON AB.AddressID = TA.AddressID;

    DROP TABLE #TempAddresses;

    SET NOCOUNT OFF;
END;
