USE [MultiTray_Dev]
GO
/****** Object:  StoredProcedure [dbo].[SP_TestPointofContacts]    Script Date: 10/29/2025 1:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_TestPointofContacts]
    @CustomerName NVARCHAR(100) = NULL,
    @CustomerTypeID UNIQUEIDENTIFIER = NULL,
    @Address NVARCHAR(250) = NULL,
    @City NVARCHAR(100) = NULL,
    @State NVARCHAR(100) = NULL,
    @PostCode NVARCHAR(10) = NULL,
    @PaymentTerm NVARCHAR(10) = NULL,
    @CountryID UNIQUEIDENTIFIER = NULL,
    @IsActive BIT,
    @IsEnabled BIT,
    @IsDeleted BIT,
    @CreatedOn DATETIME = NULL,
    @CreatedBy UNIQUEIDENTIFIER = NULL,
    @UpdatedOn DATETIME = NULL,
    @UpdatedBy UNIQUEIDENTIFIER = NULL,
    @PointOfContacts NVARCHAR(MAX) = NULL -- JSON data for multiple contacts
AS
BEGIN
    SET NOCOUNT ON;

    -- Generate a unique CustomerID
    DECLARE @NewCustomerID UNIQUEIDENTIFIER = NEWID();

    -- Auto set CreatedOn and UpdatedOn if not set externally
    IF @CreatedOn IS NULL SET @CreatedOn = GETDATE();
    IF @UpdatedOn IS NULL SET @UpdatedOn = GETDATE();

	-- Default IsEnabled to 1 if not explicitly set
    IF @IsEnabled IS NULL SET @IsEnabled = 1;

    -- Step 1: Insert into Customers table
    INSERT INTO Customers (
        CustomerID,
        CustomerName, CustomerTypeID, Address, City, State, PostCode, PaymentTerm, CountryID,
        IsActive, IsEnabled, IsDeleted,
        CreatedOn, CreatedBy, UpdatedOn, UpdatedBy
    )
    VALUES (
        @NewCustomerID,
        @CustomerName, @CustomerTypeID,
        @Address, @City, @State, @PostCode, @PaymentTerm, @CountryID,
        @IsActive, @IsEnabled, @IsDeleted,
        @CreatedOn, @CreatedBy, @UpdatedOn, @UpdatedBy
    );

    -- Step 2: Handle PointOfContacts JSON and insert into PointOfContacts table
    IF @PointOfContacts IS NOT NULL
    BEGIN
        -- Declare a table variable to capture the IDs
        DECLARE @ContactIDs TABLE (PointOfContactID UNIQUEIDENTIFIER, PointOfContactType NVARCHAR(50));

        -- Use OPENJSON with a WITH clause to parse JSON into a tabular format and capture IDs
        INSERT INTO PointOfContacts (PointOfContactID, PointOfContactType, Name, CountryID, MobileNumber, EmailID, CountryCode)
        OUTPUT INSERTED.PointOfContactID, INSERTED.PointOfContactType INTO @ContactIDs(PointOfContactID, PointOfContactType)
        SELECT
            NEWID() AS PointOfContactID,  -- Generate new ID for each contact
            PointOfContactType,
            Name,
            CountryID,
            MobileNumber,
            EmailID,
			CountryCode
        FROM OPENJSON(@PointOfContacts)
        WITH (
            PointOfContactType NVARCHAR(50),
            Name NVARCHAR(50),
            CountryID UNIQUEIDENTIFIER,
            MobileNumber NVARCHAR(20),
            EmailID NVARCHAR(120),
			CountryCode NVARCHAR(5)
        ) AS Contacts;

        -- Insert into CustomerPointOfContacts table using the captured IDs
        INSERT INTO CustomerPointOfContacts (CustomerPOCID, CustomerID, PointOfContactID, PointOfContactType)
        SELECT
            NEWID() AS CustomerPOCID,
            @NewCustomerID,
            c.PointOfContactID,
            c.PointOfContactType
        FROM @ContactIDs c;
    END

    -- Return the newly created customer
   -- SELECT * FROM Customers WHERE CustomerID = @NewCustomerID;
	SELECT 
    c.*,
    (
        SELECT 
            poc.PointOfContactID,
            poc.PointOfContactType,
            poc.Name,
            poc.MobileNumber,
            poc.EmailID,
            poc.CountryID,
            co.Country,
            poc.CountryCode
        FROM 
            [dbo].[CustomerPointOfContacts] cpoc
        INNER JOIN 
            [dbo].[PointOfContacts] poc ON cpoc.PointOfContactID = poc.PointOfContactID
        LEFT JOIN 
            [dbo].[Countries] co ON poc.CountryID = co.CountryID
        WHERE 
            cpoc.CustomerID = c.CustomerID
        FOR JSON PATH
    ) AS PointOfContactsJson
FROM 
    [dbo].[Customers] c
WHERE 
    c.CustomerID = @NewCustomerID;

END;